.content--splash {
   color: #e5e7ff;
   margin: 0 auto;
   padding: 80px;
   text-align: justify;
   text-shadow: 2px 2px #401d20;
   position: relative;
  // top:400px;
  // left: 100px;
}

.icaew-logo img{
  width:100%;
  }