.home-section
{
   .content {
      background: $brand-color-trans;
      border-radius: 8px;
      color: $white;
      margin: 0 auto;
      padding: 60px 35px;
      text-align: center;
      
      h1, p {
         text-shadow: 2px 2px $black;
      }

      .btn-primary {
         background-color: $primary-color;
         border-color: $primary-color;
     }

     .btn-xl {
         font-size: 18px;
         padding: 20px 40px;
         text-shadow: 1px 1px $black;
      }
   }

   .bg-home {
      background: #dde5fa;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #a8c0ff, #dde5fa);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #a8c0ff, #dde5fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      //background-image: url(../assets/images/img_parallax_home.jpg);
   }
}