.navbar-fixed-top {
   position: fixed;
   right: 0;
   left: 0;
   z-index: 1030;
   top: 34px;
   border-width: 0 0 1px;
}
.navbar-brand
{
   max-width: 80%;
}
.shrink-navbar-brand
{
   width: 50%;
}

.shrink-nav-logo
{
   padding: 0!important;
}

.nav-logo
{
   display: inline-flex;
   flex-direction: row;   
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: $brand-text-colour
}