// .container {
//    -webkit-align-items: center;
//    align-items: center;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
//    -ms-flex-align: center;
//    -webkit-flex-wrap: wrap;
//    -ms-flex-wrap: wrap;
//    flex-wrap: wrap;
//    margin: 0;
//    padding: 15px;
//    position: relative;
//    width: 100%;
// }

// .container {
// 	-webkit-align-items: center;
// 	align-items: center;
// 	display: -webkit-flex;
// 	display: -ms-flexbox;
// 	display: flex;
// 	-ms-flex-align: center;
// 	-webkit-flex-wrap: wrap;
// 	-ms-flex-wrap: wrap;
// 	flex-wrap: wrap;
// 	margin: 0;
// 	padding: 15px;
// 	position: relative;
// 	width: 100%;
// }
.container--big {
	height: 175vh;
}
.container--full {
    height: 100vh;
    -webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
//	margin: 0;
	padding: 15px;
	position: relative;
	width: 100%;
}
.container--small {
	height: 40vh;
}
.container .content {
	background: rgba(0, 0, 0, .75);
	border-radius: 8px;
	color: #fff;
	margin: 0 auto;
	padding: 30px 35px;
	text-align: center;
}

 .bg-home {
    background-image: url(../assets/images/img_parallax_home.jpg);
 }