body{
   font-size: .75rem;
}

.h1, h1 {
   font-size: 1.0rem;
}

#top-bar
{
    background-color: green;
   font-size: .65rem;
}

#main-menu
{
   top: 25px;

   .navbar-brand
   {      
      width: 70%;      
   }
}

.container--emma {
 //  height: 66vh;
}

.home-section {
   .container{
      padding: 0;
      .content { 
         padding: 30px 35px;
         .btn-xl {
            font-size: 14px;
            padding: 10px 20px;
         }
      }
   }
}

.phone-hide {
   display: none;
}

.service-1, .service-3, .service-5, .service-7
{
   margin-bottom: 18px;
}

.service-data
{
   padding: 10px !important;
}

.service-block h3
{
   font-size: 1.5rem;
   margin: auto 0;
}

#top-bar {
   font-size: .45rem;
}