#top-bar
{
   //  background-color: greenyellow;
}

#main-menu
{
   .navbar-brand
   {      
      width: 90%;      
   }
}

// .phone-hide {
//    display: none;
// }

.service-1, .service-3, .service-5, .service-7
{
   margin-bottom: 18px;
}

.service-data
{
   padding: 10px !important;
}

.service-block h3
{
   font-size: 1.5rem;
   margin: auto 0;
}